/dataset
CVPR_2025__Projects_assignments.pdf
/temp-venv
/__pycache__
/venv_CVPR_project
/curves
/confusion_matrices
/parameters_experimental_results
best_model.pt
/CNNs/__pycache__
dataset_splits.pt
/results